<p id="notice"><%= notice %></p>

<p>
  <strong>Team1:</strong>
  <%= @playoff.team1 %>
</p>

<p>
  <strong>Team2:</strong>
  <%= @playoff.team2 %>
</p>

<p>
  <strong>Title:</strong>
  <%= @playoff.title %>
</p>

<p>
  <strong>Running:</strong>
  <%= @playoff.running %>
</p>

<p>
  <strong>G1:</strong>
  <%= @playoff.g1 %>
</p>

<p>
  <strong>G2:</strong>
  <%= @playoff.g2 %>
</p>

<p>
  <strong>G3:</strong>
  <%= @playoff.g3 %>
</p>

<p>
  <strong>G4:</strong>
  <%= @playoff.g4 %>
</p>

<p>
  <strong>G5:</strong>
  <%= @playoff.g5 %>
</p>

<p>
  <strong>G6:</strong>
  <%= @playoff.g6 %>
</p>

<p>
  <strong>G7:</strong>
  <%= @playoff.g7 %>
</p>

<%= link_to 'Edit', edit_playoff_path(@playoff) %> |
<%= link_to 'Back', playoffs_path %>
